OWL File/catalog-v001.xml
msc/target/classes/owlapi/tutorial/msc/PersistOwl.class
msc/target/classes/owlapi/tutorial/msc/OwlAPIFirst.class
msc/target/classes/owlapi/tutorial/msc/OwlAPIFirst$1.class
msc/target/classes/owlapi/tutorial/msc/PersistOwl$1.class
msc/target/surefire/surefire6804418691141957553tmp
msc/target/surefire/surefire1759081821066362393tmp
msc/target/surefire-reports/owlapi.tutorial.msc.AppTest.txt
msc/target/surefire-reports/TEST-owlapi.tutorial.msc.AppTest.xml
msc/target/surefire-reports/TEST-owlapi.tutorial.msc.AppTest.xml
msc/target/surefire-reports/TEST-owlapi.tutorial.msc.AppTest.xml
msc/target
